*{
	margin: 1px;
	padding: 4px;
	color: green;
}

body{
	font-size: 100%;
	background: #F8F8FF;
}

.button{
	width: 10%;
	margin: 0px auto;
	padding: 20px;
	background: green;
	border-radius: 0px;
}

.footer{
	text-align: center;
}

h1{
	text-shadow: 2px 2px #ff0000;
}

body{
	background-image: url(salim.jpg);
}
